h1 {
  justify-content: center;
  -ms-flex-align: center;
  color: rgb(255, 255, 255);
}

.buttons {
  justify-content: center;
  -ms-flex-align: center;
  color: rgb(219, 21, 21) !important;
}

.fondo {
  background: rgb(31, 255, 0);
  background: radial-gradient(
    circle,
    rgba(31, 255, 0, 1) 0%,
    rgba(55, 250, 0, 1) 0%,
    rgba(5, 61, 0, 1) 0%,
    rgba(3, 84, 0, 1) 100%
  );
}

.form-select {
  width: 30%;
  margin-left: 14px;
}

.container-2 {
  border-radius: 15px;
  margin: 50px;
  max-width: 818px;
}
/* -webkit-box-shadow: 9px 9px 13px 5px rgba(157, 222, 170, 0.414); 
box-shadow: 9px 9px 13px 5px rgba(157, 222, 170, 0.414); */

.modal-dialog {
  max-width: 670px;
  margin: 1.75rem auto;
}

.focus-tr:hover {
  background-color: rgb(117, 228, 150);
  cursor: pointer;
}

.form-control {
  display: block;
  width: 200%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  background-color: #fff;
  color: #101111;
  background-clip: padding-box;
  border-radius: 0.25rem;
}

.comment-user {
  justify-content: center;
  -ms-flex-align: center;
  color: rgb(31, 146, 46);
}
.menu {
  left: -500px;
  position: relative;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.menu-button {
    display: flex;
    flex-direction: row;
 justify-content: center;
 align-items: center;
  width: 3em;
  height: 3em;
  background: rgb(255, 255, 255);
  position: relative;
  cursor:pointer;
}


/* Animaciones del Menu */
@keyframes mostrar {
  from {
    /* De izquierda */
    left: -500px;
  }
  to {
    /* Derecha */
    left: 0px;
  }
}

@keyframes ocultar {
  from {
    /* Derecha */
    left: 0px;
  }
  to {
    /* Izquierda */
    left: -500px;
  }
}
/* ======================== */